.form {
    text-align: center;
}

.input {
    background-color: rgb(179, 215, 237);
    border: 2px solid #eee;
    font-size: 14px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);   
}

.button {
    width: 200px;
    height: 30px;
    color: black;
}